@import '../../styles/_vars';

@media (min-width: 750px) {
    h1 {
        font-size: 1.1rem;
    }
    .container {
        height: 100px,
    }
    .card {
        color: $header-gray;
        position: relative;
        width: 18%;
        height: 22vh;
        transition: 0.3s;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 9px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .cardCaseopen {
        width: 80%;
        margin-left: 19%;
    }
    .containeropen {
        height: 55vh,
    }
    .cardopen {
        color: $header-gray;
        position: relative;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}