@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

$google-font: 'Source Serif Pro', serif;
$header-gray: #363A3B;
$nav-background: #D6D8D7;
$nav-font: #565857;
$main-background: #FDFFFF;
